.main-header {
  position: relative;
  box-shadow: -1px 0px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: #c6e3fb;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;
    @include w320-767 {
      min-height: 80px;
    }
  }
  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    width: 100%;
    max-width: 685px;
    a:not(:last-of-type) {
      margin-right: 20px;
    }
  }
  &__logo-eu {
    width: 70px;
    height: 75px;
    @include w320-767 {
      display: none;
      width: calc(70px / 1.35);
      height: calc(75px / 1.35);
    }
  }
  &__logo-ttk {
    width: 169px;
    height: 51px;
    @include w320-767 {
      display: none;
      width: calc(169px / 1.35);
      height: calc(51px / 1.35);
    }
  }
  &__logo-6-senses {
    width: 170px;
    height: 73px;
    @include w320-767 {
      width: calc(170px / 1.35);
      height: calc(73px / 1.35);
    }
  }

  &__user-wrap {
    position: relative;
    align-self: stretch;
    min-width: 169px;
    @include w320-767 {
      display: none;
    }
  }
  &__user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    background-color: #c6e3fb;
    @include w320-767 {
      display: none;
    }
  }

  &__user__text {
    padding: 0 9px;
    @include responsive-font-size(24);
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: center;
    color: #000000;
  }
  &__user__link-wrap {
    display: flex;
  }
  &__user__link {
    padding: 5px 9px;
    @include responsive-font-size(16);
    box-sizing: border-box;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.16px;
    text-align: center;
    color: #617486;
    &:first-of-type {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 1px;
        height: 18px;
        background-color: #708497;
        transform: translateY(-50%);
      }
    }
  }

  &__bottom {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
    width: 169px;
    height: 169px;
    box-sizing: border-box;
    transform: translateY(-50%);
    background-image: linear-gradient(to top, #5c99cb, #c7e4fd);
    border-radius: 50%;
  }

  &__status {
    @include responsive-font-size(16);
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    text-align: center;
    color: #fff;
    span {
      text-transform: uppercase;
    }
  }
  &__sandwich {
   @include w768 {
     display: none;
   }
    @include w320-767 {
      position: relative;
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  &__sandwich__lines {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 5px;
    transform: translate(-50%, -50%);
    background-color: #5b6f87;
    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 5px;
      background-color: #5b6f87;
    }
    &::before {
      top: -10px;
    }
    &::after {
      top: 15px;
    }
  }
  &__sidebar {
    display: none;
    position: absolute;
    padding: 30px 20px 50px 20px;
    top: calc(100% + 15px);
    right: -20px;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    box-sizing: border-box;
    background-color: rgba(25, 25, 25, .9);
    &_show {
      display: flex;
    }
    .main-header__logo-eu,
    .main-header__logo-ttk {
      display: block;
    }
    a {
      padding: 10px 20px;
    }
  }
}