.rules {
  padding: 64px 0 83px;
  text-align: left;
  &__title {
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 55px;
    li {
      margin-bottom: 35px;
    }
  }

  &__list__title {
    margin-bottom: 20px;
    font-weight: 400;
  }
  &__link {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: underline;
  }
}