.ya-share2 {
  &__list {
    display: flex;
  }
 &__title {
   display: none;
 }
  &__item {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
    a {
      background: no-repeat center;
      background-size: contain;
    }
    &_service_facebook a {
      background-image: asset_data_url('share/icon-fb.png');
    }
    &_service_odnoklassniki a {
      background-image: asset_data_url('share/icon-od.png');
    }
    &_service_vkontakte a {
      background-image: asset_data_url('share/icon-vk.png');
    }
  }
  &__link {
    display: block;
    width: 42px;
    height: 42px;
  }
}